@import "src/styles/variables";

.wrapper {
  @include h(full);
  display: flex;
  justify-content: center;
  align-items: center;

  tui-island {
    @include py(8);
    @include px(16);
    transform: translateY(-50px);
  }
}
