@import "src/styles/variables";

.wrapper {
  @include square(screen);
  @include z(0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/login-background.png");
  background-size: cover;

  &::after {
    @include square(screen);
    @include z(10);
    position: absolute;
    inset: 0;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
  }

  .box {
    @include px(14);
    @include pt(10);
    @include pb(7);
    @include rounded(lg);
    @include z(20);
    background-color: rgba(255, 255, 255, 0.95);

    h1 {
      @include mt(0);
      @include mb(10);
      text-transform: uppercase;
    }

    .password {
      @include mt(3);
    }

    .footer {
      @include mt(7);
      display: flex;
      flex-direction: column;
      align-items: center;

      tui-checkbox-labeled {
        @include mt(5);
      }

      a {
        @include mt(2);
      }
    }
  }
}
