<div class="wrapper position-relative h-full d-flex justify-content-between">
  <div class="home h-full d-flex align-items-center">
    <a [routerLink]="['/']" class="h-full">
      <img src="/assets/img/logo.jpg" class="d-block h-full" />
    </a>
    <h3>Hệ thống quản lý lịch giảng dạy</h3>
  </div>

  <div>
    <tui-hosted-dropdown [(open)]="openDropDown" [content]="content">
      <button
        *ngrxLet="user$ as user"
        [showLoader]="!user"
        size="m"
        tuiButton
        type="button"
        appearance="nav-button"
      >
        Xin chào {{ user | navbarName }}!
      </button>
    </tui-hosted-dropdown>
  </div>
</div>

<ng-template #content>
  <tui-data-list class="navbar-dropdown" role="menu">
    <tui-opt-group *ngFor="let group of items">
      <ng-container *ngFor="let item of group.items">
        <a
          tuiOption
          *ngIf="item.routerLink; else button"
          (click)="onClickDropDownItem(item.key)"
          [routerLink]="[item.routerLink]"
        >
          <tui-svg *ngIf="item.icon" [src]="item.icon"></tui-svg>
          <span>{{ item.label }}</span>
        </a>
        <ng-template #button>
          <button tuiOption (click)="onClickDropDownItem(item.key)">
            <tui-svg *ngIf="item.icon" [src]="item.icon"></tui-svg>
            <span>{{ item.label }}</span>
          </button>
        </ng-template>
      </ng-container>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
