<!-- Filters -->
<tui-expand [expanded]="expanded">
  <form *ngIf="form" [formGroup]="form">
    <div class="tui-form__row d-flex flex-wrap">
      <tui-select formControlName="schoolYear">
        Năm học
        <ng-container *ngrxLet="schoolYears$ as schoolYears">
          <tui-data-list-wrapper
            *tuiDataList
            [items]="schoolYears"
          ></tui-data-list-wrapper>
        </ng-container>
      </tui-select>
      <tui-select
        (ngModelChange)="onTermInYearChange($event)"
        formControlName="termInYear"
      >
        Học kỳ
        <tui-data-list-wrapper
          *tuiDataList
          [items]="termsInYear"
        ></tui-data-list-wrapper>
      </tui-select>
      <tui-select formControlName="batchInTerm">
        Đợt học
        <tui-data-list-wrapper
          *tuiDataList
          [items]="batchesInTerm[termInYear?.value]"
        ></tui-data-list-wrapper>
      </tui-select>
      <!-- <tui-select
        (ngModelChange)="trainingTypeChange$.next($event)"
        formControlName="trainingType"
      >
        Hệ đào tạo
        <ng-container *ngrxLet="trainingTypes$ as trainingTypes">
          <tui-data-list-wrapper
            *tuiDataList
            [items]="trainingTypes"
          ></tui-data-list-wrapper>
        </ng-container>
      </tui-select>
      <tui-select formControlName="academicYear">
        Khóa
        <ng-container *ngrxLet="academicYears$ as academicYears">
          <tui-data-list-wrapper
            *tuiDataList
            [items]="academicYears[trainingType?.value] ?? null"
          ></tui-data-list-wrapper>
        </ng-container>
      </tui-select> -->
      <tui-select
        *ngrxLet="departments$ as faculties"
        [valueContent]="stringifyDepartment(faculties)"
        formControlName="department"
        class="department"
      >
        Bộ môn
        <tui-data-list *tuiDataList class="department-data-list">
          <tui-opt-group
            *ngFor="let faculty of faculties"
            [label]="faculty.name"
          >
            <button
              tuiOption
              *ngFor="let department of faculty.value"
              [value]="department.id"
            >
              {{ department.name }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </tui-select>
    </div>
  </form>
</tui-expand>

<!-- Buttons -->
<div class="buttons d-flex">
  <button (click)="filter$.next()" [disabled]="!expanded" tuiButton>Lọc</button>
  <button (click)="onToggle()" tuiButton appearance="secondary">
    {{ expanded ? "Ẩn bộ lọc" : "Hiện bộ lọc" }}
  </button>
</div>
