:host {
  .tui-form__row {
    gap: 1rem 1.25rem;
    > * {
      min-width: 150px;
    }
    .department {
      min-width: 285px;
    }
  }

  .buttons {
    margin-top: 0.75rem;
    button:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}

::ng-deep tui-data-list.department-data-list button tui-select-option {
  white-space: normal;
}
