.layout {
  grid-template-columns: auto 300px;
  grid-template-areas:
    "content aside"
    "receipt aside"
    "button none";
}

tss-notification-create-content {
  grid-area: content;
}

tss-notification-create-aside {
  grid-area: aside;
}

ng-content {
  grid-area: receipt;
}

.btn-wrapper {
  grid-area: button;
}

.dialog {
  .dialog__btn-wrapper {
    > * {
      @apply px-4;

      > i {
        @apply mr-4;
      }
    }
  }
}
