<tui-tabs>
  <a
    tuiTab
    routerLinkActive
    [routerLink]="['../managing-class']"
  >
    Lớp quản lý
  </a>
  <a
    tuiTab
    routerLinkActive
    [routerLink]="['../module-class']"
  >
    Lớp học phần
  </a>
</tui-tabs>

<form
  [formGroup]="form"
  (ngSubmit)="confirm$.next()"
  class="layout grid auto-rows-auto gap-x-4 p-4 pt-8"
>
  <tss-notification-create-common-form formControlName="content"></tss-notification-create-common-form>
  <tss-notification-create-aside></tss-notification-create-aside>
  <ng-content formControlName="receipt"></ng-content>

  <div
    class="btn-wrapper tui-form__buttons flex justify-end"
    *ngrxLet="status$ as status"
  >
    <button
      [showLoader]="status === ConfirmStatus.loading"
      tuiButton
      type="submit"
    >
      Xác nhận
    </button>
  </div>
</form>

<ng-template
  #successDialog
  class="dialog"
>
  <h2 class="text-center">
    <i class="fal fa-check-circle text-tuiPositive"></i>
    Tạo thông báo thành công!
  </h2>
  <div class="dialog__btn-wrapper flex justify-center mt-8">
    <a
      [routerLink]="['/']"
      tuiButton
      size="m"
      class="mx-2"
    >
      <i class="far fa-home mr-1 mt-0.5"></i>
      Về trang chủ
    </a>
    <a
      [routerLink]="['/notification']"
      tuiButton
      size="m"
      class="mx-2"
    >
      <i class="far fa-eye mr-1 mt-0.5"></i>
      Xem thông báo
    </a>
    <a
      tuiButton
      size="m"
      class="mx-2"
    >
      <i class="far fa-plus mr-1 mt-0.5"></i>
      Tạo thông báo mới
    </a>
  </div>
</ng-template>
