<form
  class="flex-grow"
  [formGroup]="form"
>

  <!-- Title -->
  <div class="tui-form__row">
    <tui-input formControlName="title">
      Tiêu đề
      <span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="title"></tui-field-error>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <!-- Type -->
    <div class="tui-form__multi-field">
      <tui-select formControlName="type">
        Thể loại
        <span class="tui-required"></span>
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let type of types"
            [value]="type"
            tuiOption
          >
            {{ type }}
          </button>
        </tui-data-list>
      </tui-select>
      <tui-field-error formControlName="type"></tui-field-error>
    </div>

    <!-- Date -->
    <div class="tui-form__multi-field">
      <tui-input-date-range
        formControlName="date"
        [tuiTextfieldCleaner]="true"
      >
        Thời gian
      </tui-input-date-range>
    </div>
  </div>

  <!-- Body -->
  <div class="tui-form__row">
    <tui-editor formControlName="body">
      Nội dung thông báo
      <span class="tui-required"></span>
    </tui-editor>
    <tui-field-error formControlName="body"></tui-field-error>
  </div>

</form>
