<div class="wrapper">
  <tui-island>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="tui-island__paragraph">
        Thầy cô nên sử dụng mật khẩu mạnh mà chưa sử dụng ở đâu khác
      </p>
      <div class="tui-form__row">
        <tui-input-password
          [tuiHintContent]="
            password?.valid || password?.untouched
              ? null
              : 'Hãy nhập mật khẩu cũ!'
          "
          formControlName="password"
          tuiHintMode="error"
        >
          Mật khẩu cũ
        </tui-input-password>
      </div>
      <div class="tui-form__row">
        <tui-input-password
          [tuiHintContent]="
            newPassword?.valid || newPassword?.untouched
              ? (form.errors?.['duplicatedValue'] ? 'Mật khẩu không được trùng mật khẩu cũ' : null)
              : newPassword?.errors?.['required']
              ? 'Hãy nhập mật khẩu mới'
              : 'Mật khẩu cần có tối thiểu 6 ký tự'
          "
          [pseudoInvalid]="form.errors?.['duplicatedValue']"
          formControlName="newPassword"
          tuiHintMode="error"
        >
          Mật khẩu mới
        </tui-input-password>
      </div>
      <div class="tui-form__buttons tui-form__buttons_align_center">
        <button
          *ngrxLet="status$ as status"
          [disabled]="!form.valid"
          [showLoader]="status === EApiStatus.loading"
          tuiButton
          size="m"
          type="submit"
          class="tui-form__button"
        >
          Xác nhận
        </button>
      </div>
    </form>
  </tui-island>
</div>
