<div class="wrapper">
  <div [@slideUp] class="box">
    <h1 class="slide-element">Hệ thống quản lý lịch giảng dạy</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit$.next()" class="b-forms">
      <div class="slide-element">
        <tui-input
          [tuiHintContent]="
            email?.value === ''
              ? 'Hãy nhập email hoặc tên đăng nhập'
              : email?.valid || email?.untouched
              ? null
              : 'Hãy nhập đúng định dạng email'
          "
          formControlName="email"
          tuiHintMode="error"
        >
          Email / Tên đăng nhập
        </tui-input>
      </div>

      <div class="slide-element password">
        <tui-input-password [readOnly]="false" formControlName="password">
          Mật khẩu
        </tui-input-password>
      </div>

      <div class="footer">
        <ng-container *ngrxLet="status$ as status">
          <button
            [showLoader]="status === LoginStatus.loading"
            [disabled]="loginForm.invalid"
            tuiButton
            size="m"
            type="submit"
            class="slide-element"
          >
            Đăng nhập
          </button>
        </ng-container>

        <!-- <div class="slide-element">
          <tui-checkbox-labeled [@slideUp] formControlName="remember">
            Ghi nhớ tài khoản
          </tui-checkbox-labeled>
        </div>

        <a tuiLink class="slide-element"> Quên mật khẩu? </a> -->
      </div>
    </form>
  </div>
</div>
