<div class="wrapper">
  <!-- Left -->
  <div class="left">
    <button
      (click)="onPrev()"
      tuiIconButton
      shape="rounded"
      icon="tuiIconChevronLeftLarge"
    ></button>
    <button
      (click)="onNext()"
      tuiIconButton
      shape="rounded"
      icon="tuiIconChevronRightLarge"
      class="ml"
    ></button>

    <tui-hosted-dropdown [(open)]="openSelectMonth" [content]="monthDropdown">
      <button
        *ngrxLet="dateRange$ as dateRange"
        [class.rotate]="openSelectMonth"
        tuiButton
        iconRight="tuiIconChevronDown"
        class="ml"
      >
        {{ dateRange }}
      </button>
    </tui-hosted-dropdown>

    <div [@fadeIn] class="divider"></div>
    <tui-hosted-dropdown
      [(open)]="openFilter"
      [content]="filterDropdown"
      (openChange)="onFilterOpenChange($event)"
      [@fadeIn]
    >
      <button
        *ngrxLet="filter$ as filter"
        [class.active]="filter.showDepartmentSchedule"
        tuiButton
        icon="tuiIconFilter"
      >
        <span class="filter-content">
          Bộ lọc:
          {{ filter.showDepartmentSchedule ? "Lịch bộ môn," : "Lịch cá nhân" }}
          {{
            filter.showDepartmentSchedule
              ? filter.teachers.length === 0
                ? "Tất cả giảng viên"
                : filter.teachers.length === 1
                ? filter.teachers[0].name
                : filter.teachers.length + " giảng viên"
              : ""
          }},
          {{
            filter.modules.length === 0
              ? "Tất cả học phần"
              : filter.modules.length === 1
              ? filter.modules[0]
              : filter.modules.length + " học phần"
          }}
        </span>
      </button>
    </tui-hosted-dropdown>
  </div>

  <!-- Right -->
  <div class="right" *ngrxLet="view$ as view">
    <button
      *ngrxLet="activeToday$ as activeToday"
      tuiButton
      [class.active]="activeToday"
      (click)="clickToday$.next()"
    >
      HÔM NAY
    </button>
    <div class="divider"></div>
    <button
      tuiButton
      [class.active]="view === 'Month'"
      (click)="onClickMonth()"
    >
      THÁNG
    </button>
    <button
      tuiButton
      [class.active]="view === 'Week'"
      (click)="onClickWeek()"
      class="ml"
    >
      TUẦN
    </button>

    <button
      tuiButton
      [class.active]="view === 'Day'"
      (click)="onClickDay()"
      class="ml"
    >
      NGÀY
    </button>
  </div>
</div>

<!-- Month-picker dropdown -->
<ng-template #monthDropdown>
  <tui-calendar-month
    *ngrxLet="month$ as month"
    [value]="month"
    [year]="month"
    (monthClick)="onSelectMonth($event)"
  ></tui-calendar-month>
</ng-template>

<!-- Filter dropdown -->
<ng-template #filterDropdown let-activeZone>
  <ng-container *ngrxLet="user$ as user">
    <div *ngIf="user; else loader" [@fadeIn] class="filter-wrapper">
      <table class="w-full">
        <ng-container
          *tssPermission="permissionConstant.SEE_DEPARTMENT_SCHEDULE"
        >
          <tr>
            <td>Lịch:</td>
            <td>
              <div class="d-flex radio-wrapper">
                <tui-radio-labeled
                  [(ngModel)]="showDepartmentSchedule"
                  [item]="false"
                  (ngModelChange)="onSelectingDepartmentChange($event)"
                  class="tui-space_bottom-3"
                >
                  Cá nhân
                </tui-radio-labeled>
                <tui-radio-labeled
                  [(ngModel)]="showDepartmentSchedule"
                  [item]="true"
                  (ngModelChange)="onSelectingDepartmentChange($event)"
                  class="tui-space_bottom-3"
                >
                  Bộ môn
                </tui-radio-labeled>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <tui-expand [expanded]="showDepartmentSchedule">
                Giảng viên:
              </tui-expand>
            </td>
            <td>
              <tui-expand [expanded]="showDepartmentSchedule">
                <div tuiTextfieldSize="s">
                  <tui-select
                    [(ngModel)]="filteredTeachers"
                    [valueContent]="selectTeacherTemplate"
                    [tuiActiveZoneParent]="activeZone"
                    (ngModelChange)="onSelectingTeachersChange($event)"
                  >
                    <ng-template tuiDataList>
                      <tui-data-list>
                        <tui-opt-group>
                          <button tuiOption [value]="[]" size="xs">
                            Tất cả
                          </button>
                        </tui-opt-group>
                        <tui-opt-group
                          tuiMultiSelectGroup
                          *ngrxLet="teachers$ as teachers"
                        >
                          <button
                            tuiOption
                            *ngFor="let teacher of teachers; index as i"
                            [value]="teacher"
                            size="xs"
                          >
                            {{ teacher.name }}
                          </button>
                        </tui-opt-group>
                      </tui-data-list>
                    </ng-template>
                  </tui-select>
                </div>
              </tui-expand>
            </td>
          </tr>
        </ng-container>

        <tr>
          <td>Học phần:</td>
          <td>
            <div tuiTextfieldSize="s">
              <tui-select
                [(ngModel)]="filteredModules"
                [valueContent]="selectModuleTemplate"
                [tuiActiveZoneParent]="activeZone"
              >
                <ng-template tuiDataList>
                  <tui-data-list>
                    <tui-opt-group>
                      <button tuiOption [value]="[]" size="xs">Tất cả</button>
                    </tui-opt-group>
                    <tui-opt-group
                      tuiMultiSelectGroup
                      *ngrxLet="modules$ as modules"
                    >
                      <button
                        tuiOption
                        *ngFor="let module of modules; index as i"
                        [value]="module"
                        size="xs"
                      >
                        {{ module }}
                      </button>
                    </tui-opt-group>
                  </tui-data-list>
                </ng-template>
              </tui-select>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>
            <button tuiButton (click)="filter()" appearance="primary" size="xs">
              Lọc
            </button>
          </td>
        </tr>
      </table>
    </div>

    <ng-template #loader>
      <tui-loader [showLoader]="true" class="loader"></tui-loader>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #selectTeacherTemplate let-teachers>
  {{
    teachers.length === 0
      ? "Tất cả"
      : teachers.length === 1
      ? teachers[0].name
      : teachers.length + " giảng viên"
  }}
</ng-template>

<ng-template #selectModuleTemplate let-modules>
  {{
    modules.length === 0
      ? "Tất cả"
      : modules.length === 1
      ? modules[0]
      : modules.length + " học phần"
  }}
</ng-template>
