@import "src/styles/variables";
@import "src/styles/responsive";

.wrapper {
  @include p(2);
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .left,
  .right {
    display: flex;
    align-items: center;
    button {
      ::ng-deep .t-wrapper .t-content {
        color: var(--tui-text-01);
      }
      &[tuiButton] {
        width: auto;
        border-radius: var(--tui-radius-xs);
      }
      &.active ::ng-deep > tui-wrapper {
        background: var(--tui-secondary-active);
      }
    }
  }

  tui-hosted-dropdown button {
    &.rotate ::ng-deep .icon {
      transform: rotate(180deg);
    }
    .filter-content {
      display: none;
      @include responsive(lg) {
        display: block;
      }
    }
    ::ng-deep .icon {
      transition: all 0.25s ease-in-out;
    }
  }

  .divider {
    @include mx(2);
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.filter-wrapper {
  width: 25rem;
  padding: 0.5rem 0.75rem;

  td {
    padding: 0.25rem;
    &:first-child {
      max-width: 80px;
      width: 80px;
    }
    &:last-child {
      width: 50px;
    }
  }

  .radio-wrapper {
    column-gap: 2rem;
    tui-radio-labeled {
      margin-bottom: 0;
    }
  }

  tui-select {
    min-width: 230px;
  }

  button[tuiButton] {
    border-radius: var(--tui-radius-xs);
  }
}

.loader {
  width: 25rem;
  height: 7rem;
}

.ml {
  @include ml(2);
}
