<tss-notification-create-shell
  *ngrxLet="isButtonLoading$ as isButtonLoading"
  [receipt]="form"
  [isButtonLoading]="isButtonLoading"
>
  <form [formGroup]="form">
    <!-- Use <span> tag to apply css to below <div> -->
    <span></span>

    <h5 class="tui-form__header">Khoa</h5>
    <ng-container *ngrxLet="faculties$ as faculties">
      <tui-loader [showLoader]="faculties.length === 0">
        <div class="grid-wrapper tui-form__row" formGroupName="faculties">
          <tui-checkbox-labeled
            [(ngModel)]="selectAllFaculties"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="allFacultiesPress($event)"
            class="all"
            size="l"
          >
            Tất cả các khoa
          </tui-checkbox-labeled>

          <tui-checkbox-labeled
            *ngFor="let faculty of faculties"
            [formControlName]="faculty.id"
            (ngModelChange)="onFacultiesChange($event)"
            size="l"
          >
            {{ faculty.name }}
          </tui-checkbox-labeled>
        </div>
      </tui-loader>
    </ng-container>

    <h5 class="tui-form__header">Khoá</h5>
    <ng-container *ngrxLet="academicYears$ as academicYears">
      <tui-loader [showLoader]="academicYears.length === 0">
        <div class="grid-wrapper tui-form__row" formGroupName="academicYears">
          <tui-checkbox-labeled
            [(ngModel)]="selectAllAcademicYears"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="allAcademicYearsPress($event)"
            class="all"
            size="l"
          >
            Tất cả các khoá
          </tui-checkbox-labeled>

          <tui-checkbox-labeled
            *ngFor="let year of academicYears"
            [formControlName]="year.id"
            (ngModelChange)="onAcademicYearsChange($event)"
            size="l"
          >
            {{ year.name }}
          </tui-checkbox-labeled>
        </div>
      </tui-loader>
    </ng-container>

    <ng-container *ngrxLet="classes$ as classes">
      <h5 class="tui-form__header">Lớp</h5>
      <tui-loader [showLoader]="classes.length === 0">
        <div class="grid-wrapper tui-form__row" formGroupName="receipt">
          <tui-checkbox-labeled
            [(ngModel)]="selectAllClasses"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="allClassesYearsPress($event)"
            class="all"
            size="l"
          >
            Tất cả các lớp
          </tui-checkbox-labeled>

          <ng-container *ngFor="let class of classes">
            <tui-checkbox-labeled
              *ngIf="
                faculties.controls[class.faculty].value &&
                academicYears.controls[class.academicYear].value
              "
              [formControlName]="class.name"
              (ngModelChange)="onClassesChange($event)"
              size="l"
            >
              {{ class.name }}
            </tui-checkbox-labeled>
          </ng-container>
        </div>
      </tui-loader>
    </ng-container>
  </form>
</tss-notification-create-shell>
