@import "src/styles/variables";

:host {
  @include square(screen);
  display: grid;
  grid-template-rows: $nav-height $main-view-height;
  grid-template-columns: $sidebar-width auto;
  grid-template-areas:
    "nav   nav"
    "aside main";
}

tss-sidebar {
  grid-area: aside;
}

tss-navbar {
  grid-area: nav;
}

tss-main-view {
  grid-area: main;
  max-height: $main-view-height;
}
