<tui-scrollbar class="scrollbar">
  <tui-loader
    *ngrxLet="status$ as status"
    [showLoader]="status === EApiStatus.loading"
    [overlay]="true"
  >
    <table tuiTable [columns]="columns" class="table">
      <!-- Head -->
      <thead tuiThead>
        <tr tuiThGroup>
          <th tuiTh *tuiHead="'checkbox'" [sorter]="null">
            <tui-checkbox
              [(ngModel)]="selectAll"
              [disabled]="data.length === 0"
            ></tui-checkbox>
          </th>
          <th tuiTh *tuiHead="'index'" [sorter]="null">STT</th>
          <th tuiTh *tuiHead="'name'" [resizable]="true">Lớp học phần</th>
          <th tuiTh *tuiHead="'credit'">Số TC</th>
          <th tuiTh *tuiHead="'numberPlan'">Sĩ số</th>
          <th tuiTh *tuiHead="'classType'">Kiểu lớp</th>
          <ng-container *ngIf="!excludeTeacher">
            <th tuiTh *tuiHead="'teacher'">Giảng viên</th>
          </ng-container>
        </tr>
      </thead>

      <!-- Body with data -->
      <tbody tuiTbody *ngIf="data.length > 0; else noData" [data]="data">
        <form [formGroup]="form">
          <ng-container formArrayName="checkbox">
            <tr *tuiRow="let item of data; index as i" tuiTr>
              <td *tuiCell="'checkbox'" tuiTd>
                <div class="d-flex justify-content-center">
                  <tui-checkbox
                    [formControlName]="i"
                    (ngModelChange)="onModelChange()"
                  ></tui-checkbox>
                </div>
              </td>
              <td *tuiCell="'index'" tuiTd>
                <div class="text-center">
                  {{ i + 1 }}
                </div>
              </td>
              <td *tuiCell="'name'" tuiTd>{{ item.name }}</td>
              <td *tuiCell="'credit'" tuiTd>
                <div class="text-center">
                  {{ item.credit }}
                </div>
              </td>
              <td *tuiCell="'numberPlan'" tuiTd>
                <div class="text-center">
                  {{ item.numberPlan }}
                </div>
              </td>
              <td *tuiCell="'classType'" tuiTd>
                <div class="text-center">
                  {{
                    item.classType !== undefined
                      ? classType[item.classType]
                      : ""
                  }}
                </div>
              </td>
              <ng-container *ngIf="!excludeTeacher">
                <td *tuiCell="'teacher'" tuiTd>
                  {{ item.teacher }}
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </form>
      </tbody>

      <!-- Body without data -->
      <ng-template #noData>
        <tbody tuiTbody>
          <th colspan="7">
            <div class="no-data">
              <h6>Chưa có dữ liệu</h6>
            </div>
          </th>
        </tbody>
      </ng-template>
    </table>
  </tui-loader>
</tui-scrollbar>
