<tui-loader
  *ngrxLet="requesting$ as requesting"
  [showLoader]="requesting.includes(schedule.id)"
  [overlay]="true"
>
  <div
    *tssVar="schedule.status | statusType as status"
    class="d-flex justify-content-center"
  >
    <button
      tuiIconButton
      *ngIf="status !== 'cancel' && status !== 'deny'"
      (click)="export$.next()"
      [tuiHintShowDelay]="300"
      [tuiHintHideDelay]="100"
      [icon]="IconConstant.exportVariantLarge"
      tuiHint="Xuất file yêu cầu"
      appearance="icon"
    ></button>
    <button
      tuiIconButton
      *ngIf="canCancel && status === 'pending'"
      (click)="cancel$.next()"
      [tuiHintShowDelay]="300"
      [tuiHintHideDelay]="100"
      icon="tuiIconTrashLarge"
      tuiHint="Hủy yêu cầu"
      appearance="icon"
    ></button>
  </div>
</tui-loader>
