@import "src/styles/variables";

:host {
  height: $nav-height;
  .wrapper {
    @include p(2, 5);
    @include border(1, bottom, $tuiBase03);
    box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 8%);

    .home {
      a img {
        object-fit: cover;
      }

      h3 {
        @include ml(3);
        @include font(lg);
        text-transform: uppercase;
      }
    }
  }
}
