$slot-height-per-minute: 0.75px;

.cell-dimension.e-schedule {
  .e-schedule-table {
    .e-work-cells,
    .e-time-slots {
      height: $slot-height-per-minute * 60 !important;
    }

    .e-work-cells.today {
      background-color: #ffedd8;
    }
  }

  .e-table-wrap:not(.e-month-view)
    .e-schedule-table
    .e-header-cells.e-current-day {
    background-color: #ffedd8;
  }

  .e-appointment {
    cursor: pointer !important;

    &.requesting-change {
      border-left: 4px solid red;
    }
    &.changed {
      border-left: 4px solid #3b79ff;
    }
  }

  .e-current-timeline,
  .e-previous-timeline {
    border-top-width: 2px;
  }

  .e-quick-popup-wrapper .e-event-popup {
    .e-module-class {
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      padding-top: 16px;
    }
    .e-location-details {
      color: rgba(0, 0, 0, 0.87);
      cursor: default;
      font-size: 14px;
    }
  }
}
