html {
  font-size: 14px;
  font-weight: 500;
}

body {
  font-family: sans-serif;
  @apply text-white;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}
