@import "src/styles/variables";

:root {
  --tui-selection: rgba(112, 182, 246, 0.4) !important;
}

tui-wrapper[data-appearance="nav-button"] {
  font: $tuiText01;
  @include bg($tuiBase02);

  &[data-state="hovered"] {
    @include bg($tuiBase03);
  }

  &[data-state="pressed"] {
    @include bg($tuiBase04);
  }

  &[data-state="disabled"] {
    background: #eaecee;
  }
}

tui-data-list.menu-data-list {
  tui-opt-group {
    padding: 1rem 0 !important;

    &:before {
      padding: 0 !important;
    }
  }
}

.tui-island:not(.tui-island_hoverable):before {
  border: 1px solid var(--tui-base-04) !important;
}

table[tuiTable] {
  tr:nth-child(even) td {
    background: var(--tui-base-02);
  }
}
