@import "src/styles/variables";

:root {
  --tui-selection: rgba(112, 182, 246, 0.4) !important;
  --tui-chart-0: var(--tui-support-03);
  --tui-chart-1: var(--tui-support-07);
}

tui-wrapper[data-appearance="nav-button"] {
  font: $tuiText01;
  @include bg($tuiBase02);

  &[data-state="hovered"] {
    @include bg($tuiBase03);
  }

  &[data-state="pressed"] {
    @include bg($tuiBase04);
  }

  &[data-state="disabled"] {
    background: #eaecee;
  }
}

tui-wrapper[data-appearance="positive"] {
  color: var(--tui-success-fill);
  @include bg(var(--tui-success-bg));

  &[data-state="hovered"] {
    @include bg(var(--tui-success-bg-hover));
  }

  &[data-state="pressed"] {
    @include bg(rgba(74, 201, 155, 0.4));
  }

  &[data-state="disabled"] {
    background: #eaecee;
  }
}

tui-wrapper[data-appearance="negative"] {
  color: var(--tui-error-fill);
  @include bg(var(--tui-error-bg));

  &[data-state="hovered"] {
    @include bg(var(--tui-error-bg-hover));
  }

  &[data-state="pressed"] {
    @include bg(rgba(244, 87, 37, 0.4));
  }

  &[data-state="disabled"] {
    background: #eaecee;
  }
}

tui-data-list.menu-data-list {
  tui-opt-group {
    padding: 1rem 0 !important;

    &:before {
      padding: 0 !important;
    }
  }
}

.tui-island:not(.tui-island_hoverable):before {
  border: 1px solid var(--tui-base-04) !important;
}

table[tuiTable] {
  tr:nth-child(even) td {
    background: var(--tui-base-02);
  }
}

tui-data-list.navbar-dropdown {
  @include w(64);

  span {
    @include ml(4);
    flex-grow: 1;
  }
}

tui-dropdown-box {
  .duplicate {
    padding: 8px 16px;
  }
}
