<tss-schedule-header
  [scheduleComponent]="scheduleComponent"
></tss-schedule-header>
<ng-container *ngrxLet="eventSettings$ as eventSettings">
  <ejs-schedule
    #schedule
    [eventSettings]="eventSettings"
    [quickInfoOnSelectionEnd]="false"
    [firstDayOfWeek]="1"
    [workHours]="{ highlight: false }"
    [timeScale]="{ slotCount: 1 }"
    [showHeaderBar]="false"
    (eventRendered)="onEventRendered($event)"
    (eventClick)="onEventClick()"
    (popupOpen)="onPopupOpen($event)"
    currentView="Month"
    locale="vi"
    cssClass="cell-dimension"
    width="100%"
    height="100%"
  >
    <!-- Views -->
    <e-views>
      <e-view option="Month"></e-view>
      <e-view option="Week"></e-view>
      <e-view option="Day"></e-view>
      <!-- <e-view option="Agenda"></e-view> -->
    </e-views>

    <!-- Header template -->
    <ng-template #quickInfoTemplatesHeader let-data>
      <div *ngIf="data.elementType === 'cell' || data.elementType === 'event'">
        <div [ngStyle]="{'background-color': data.Color || ''}" class="e-popup-header">
          <div class="e-header-icon-wrapper">
            <button
              (click)="showEditorDialog(data)"
              class="e-edit e-btn e-lib e-flat e-round e-small e-icon-btn edit-info"
              title="Xem thông tin"
            >
              <i
                class="mdi mdi-information-outline"
                style="color: white; font-size: 18px"
              ></i>
            </button>
            <button
              (click)="onCloseClick()"
              class="e-close e-btn e-lib e-flat e-round e-small e-icon-btn"
              title="Đóng"
            >
              <span class="e-btn-icon e-icons e-close-icon"></span>
            </button>
          </div>
          <div class="e-subject-wrap">
            <div [title]="data.Subject" class="e-subject e-text-ellipsis">
              {{ data.Subject }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Quick info -->
    <ng-template #quickInfoTemplatesContent let-data>
      <div *ngIf="data.elementType === 'event'">
        <div class="e-date-time">
          <div class="e-date-time-icon e-icons"></div>
          <div class="e-date-time-wrapper e-text-ellipsis">
            <div class="e-date-time-details e-text-ellipsis">
              {{ data.StartTime | dateTime: data.EndTime }}
            </div>
          </div>
        </div>
        <div class="e-location">
          <div class="e-location-icon e-icons"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ data.Location }}
          </div>
        </div>
        <div class="e-module-class">
          <div class="mdi mdi-book-open-variant"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ data.IdModuleClass }}
          </div>
        </div>
        <div *ngIf="data.Method" class="e-module-class">
          <div class="mdi mdi-bullseye-arrow"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ data.Method }}
          </div>
        </div>
        <div *ngIf="data.FixedSchedules?.length > 0" class="e-module-class">
          <div class="mdi mdi-swap-horizontal-bold"></div>
          <div
            *tssVar="
              data.FixedSchedules[
                data.FixedSchedules.length - 1
              ] as lastFixedSchedule
            "
            class="e-location-details e-text-ellipsis"
          >
            <ng-container
              *ngIf="
                lastFixedSchedule.status === 0 ||
                  lastFixedSchedule.status === 1;
                else requestMoveTo
              "
            >
              Đang được yêu cầu đổi đến ca {{ lastFixedSchedule.newShift }},
              ngày {{ lastFixedSchedule.newDate | date: "longDate":"+0700" }}
              {{
                lastFixedSchedule.newIdRoom
                  ? " tại " + lastFixedSchedule.newIdRoom
                  : ""
              }}
            </ng-container>
            <ng-template #requestMoveTo>
              Đổi từ ca {{ lastFixedSchedule.oldShift }}, ngày
              {{ lastFixedSchedule.oldDate | date: "longDate":"+0700" }}
            </ng-template>
            <button
              tuiLink
              [pseudo]="true"
              (click)="onShowHistory(data.FixedSchedules)"
              class="details"
            >
              <i>Chi tiết</i>
            </button>
          </div>
        </div>
        <div
          *ngFor="let person of data.People | filter: 'self'"
          class="e-module-class"
        >
          <div class="mdi mdi-account"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ $any(person).name }}
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Footer Template -->
    <ng-template #quickInfoTemplatesFooter let-data> </ng-template>
  </ejs-schedule>
</ng-container>
