<ng-container *ngrxLet="eventSettings$ as eventSettings">
  <ejs-schedule
    #schedule
    [eventSettings]="eventSettings"
    [quickInfoOnSelectionEnd]="false"
    [firstDayOfWeek]="1"
    [workHours]="{ highlight: false }"
    [timeScale]="{ slotCount: 1 }"
    (eventRendered)="onEventRendered($event)"
    (popupOpen)="onPopupOpen($event)"
    locale="vi"
    currentView="Month"
    cssClass="cell-dimension"
    width="100%"
    height="100%"
  >
    <!-- Views -->
    <e-views>
      <e-view option="Month"></e-view>
      <e-view option="Week"></e-view>
      <!-- <e-view option="Agenda"></e-view> -->
    </e-views>

    <!-- Quick info -->
    <ng-template #quickInfoTemplatesContent let-data>
      <div *ngIf="data.elementType === 'event'">
        <div class="e-date-time">
          <div class="e-date-time-icon e-icons"></div>
          <div class="e-date-time-wrapper e-text-ellipsis">
            <div class="e-date-time-details e-text-ellipsis">
              {{ data.StartTime | dateTime: data.EndTime }}
            </div>
          </div>
        </div>
        <div class="e-location">
          <div class="e-location-icon e-icons"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ data.Location }}
          </div>
        </div>
        <div class="e-module-class">
          <div class="mdi mdi-book-open-variant"></div>
          <div class="e-location-details e-text-ellipsis">
            {{ data.IdModuleClass }}
          </div>
        </div>
      </div>
    </ng-template>
  </ejs-schedule>
</ng-container>
