<ng-container *ngFor="let schedule of context.data; last as last">
  <div class="item">
    <h5>Ngày yêu cầu: {{ schedule.timeRequest | date: "dd-MM-Y" }}</h5>
    <div class="content d-flex justify-content-center">
      <table>
        <tr>
          <td>Ngày</td>
          <td>:</td>
          <td class="pl text-center">
            {{ schedule.oldDate | date: "dd-MM-Y" }}
          </td>
          <td>
            <tui-svg src="tuiIconChevronRight"></tui-svg>
          </td>
          <td class="text-center">
            {{ schedule.newDate | date: "dd-MM-Y" }}
          </td>
        </tr>
        <tr>
          <td>Ca</td>
          <td>:</td>
          <td class="text-center">
            {{ schedule.oldShift }}
          </td>
          <td>
            <tui-svg src="tuiIconChevronRight"></tui-svg>
          </td>
          <td class="text-center">
            {{ schedule.newShift }}
          </td>
        </tr>
        <tr>
          <td>Phòng</td>
          <td>:</td>
          <td class="text-center">
            {{ schedule.oldIdRoom }}
          </td>
          <td>
            <tui-svg src="tuiIconChevronRight"></tui-svg>
          </td>
          <td class="text-center">
            <i *ngIf="!schedule.newIdRoom; else room">(Chưa được xếp phòng)</i>
            <ng-template #room>
              {{ schedule.newIdRoom }}
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr *ngIf="!last" />
</ng-container>
