/* Height of cells */
.cell-dimension.e-schedule .e-schedule-table .e-work-cells,
.cell-dimension.e-schedule .e-schedule-table .e-time-slots {
  height: 45px !important;
}

/* Paint background for today cell */
.cell-dimension.e-schedule .e-schedule-table .e-work-cells.today {
  @apply !w-auto bg-[#ffedd8];
}

.cell-dimension.e-schedule
  .e-table-wrap:not(.e-month-view)
  .e-schedule-table
  .e-header-cells.e-current-day {
  @apply bg-[#ffedd8];
}

/* Uppercase for date header if use touch device */
.e-schedule.e-device .e-month-view .e-date-header-wrap td,
.e-schedule.e-device .e-timeline-view .e-date-header-wrap td,
.e-schedule.e-device .e-timeline-month-view .e-date-header-wrap td {
  @apply uppercase;
}

/* Paint background for today cell header */
.cell-dimension.e-schedule
  .e-table-wrap:not(.e-month-view)
  .e-schedule-table
  .e-header-cells.e-current-day
  .day-of-month {
  @apply text-white bg-[#e3165b] rounded-full;
}

/* Align text for cell header */
.e-schedule .e-month-view .e-date-header {
  @apply !block;
}

/* Draw background circle for today */
.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header {
  @apply !w-auto !bg-transparent;
}
.e-schedule .e-month-view .e-current-date .e-date-header > div,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header > div {
  @apply w-fit mx-auto bg-[#e3165b] rounded-full;
}

/* Disable date navigate when click date header in month view */
.e-schedule .e-month-view .e-date-header:hover {
  @apply cursor-default;
  text-decoration: none !important;
}

/* Align text for cell header in month view */
.e-schedule .e-month-view .e-date-header-wrap table td,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td {
  @apply !text-center;
}

/* Use pointer for appointment */
.cell-dimension.e-schedule .e-appointment {
  @apply !cursor-pointer;
}

/* Border for change schedule */
.cell-dimension.e-schedule .e-appointment.requesting-change {
  @apply !border-solid !border-l-4 !border-l-[red];
}

.cell-dimension.e-schedule .e-appointment.changed {
  @apply !border-l-4 !border-l-[#3b79ff];
}

/* Width of current timeline */
.cell-dimension.e-schedule .e-current-timeline,
.cell-dimension.e-schedule .e-previous-timeline {
  @apply !border-t-2;
}

/* Style of item in popup */
.e-quick-popup-wrapper .e-event-popup .e-module-class {
  @apply flex pt-4 text-[rgba(0,0,0,0.87)];
}
.e-quick-popup-wrapper .e-event-popup .e-module-class .mdi {
  @apply pr-3 text-[18px] text-[rgba(0,0,0,0.54)] leading-[20px];
}
