<tss-notification-create-shell>
  <form [formGroup]="form">
    <!-- Use <span> tag to apply css to below <div> -->
    <span></span>

    <div class="tui-form__row">
      <tui-multi-select
        [tuiTextfieldLabelOutside]="true"
        [expandable]="false"
        formControlName="receipt"
        (searchChange)="onSearchChange($event)"
        #component
      >
        <tui-data-list
          *tuiDataList
          tuiMultiSelectGroup
        >
          <ng-container *ngIf="items$ | async as items; else loading">
            <button
              *ngFor="let item of items"
              [value]="item"
              tuiOption
            >
              {{ item }}
            </button>
          </ng-container>

          <ng-template #loading>
            <tui-loader></tui-loader>
          </ng-template>

        </tui-data-list>
      </tui-multi-select>
    </div>
    <!-- {{items | json}}, {{status$ | async}} -->
  </form>
</tss-notification-create-shell>
