<tss-notification-create-shell>
  <form [formGroup]="form">
    <!-- Use <span> tag to apply css to below <div> -->
    <span></span>

    <div class="tui-form__row">
      <tui-multi-select
        *tuiLet="items$ | async as items"
        #component
        formControlName="receipt"
        [tuiTextfieldLabelOutside]="true"
        [expandable]="false"
        (searchChange)="onSearchChange($event)"
      >
        <tui-data-list-wrapper
          *tuiDataList
          [items]="items | tuiHideSelected"
          [itemContent]="itemContent"
        >
        </tui-data-list-wrapper>
      </tui-multi-select>
    </div>
  </form>
</tss-notification-create-shell>

<ng-template
  #itemContent
  let-data
>
  {{data}}
</ng-template>
