<tss-notification-create-shell [receipt]="form">
  <form [formGroup]="form">
    <!-- Use <span> tag to apply css to below <div> -->
    <span></span>

    <div class="tui-form__row">
      <tui-multi-select
        *tuiLet="items$ | async as items"
        #component
        formControlName="receipt"
        [tuiTextfieldLabelOutside]="true"
        [expandable]="false"
        (searchChange)="onSearchChange($event)"
      >
        Lớp nhận thông báo
        <span class="tui-required"></span>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="items | tuiHideSelected"
          [itemContent]="itemContent"
        >
        </tui-data-list-wrapper>
      </tui-multi-select>

      <tui-field-error formControlName="receipt"></tui-field-error>

    </div>
  </form>
</tss-notification-create-shell>

<!-- Dropdown item content -->
<ng-template
  #itemContent
  let-data
>
  {{ data}}
</ng-template>
