:host {
  height: 100%;

  a {
    @apply ease-in-out;
    font: var(--tui-font-text-m);
    transition-property: background-color;
    transition-duration: var(--tui-duration, 300ms);
  }

  tui-accordion-item {
    ::ng-deep {
      .header {
        padding-left: 1.5rem !important;
        padding-right: 1rem !important;
      }
    }

    .sub-item {
      > div {
        a {
          &:not(:first-child) {
            @apply mt-4;
          }
  
          ::ng-deep {
            span {
              transition-duration: var(--tui-duration, 0.3s);
            }
          }
        }
      }
    }
  }

  .icon-wrapper {
    @apply w-7 inline-block mr-1.5;

    > div {
      @apply flex;

      > i {
        @apply block m-auto;
      }
    }
  }
}
