<form [formGroup]="form">
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="subject"> Lớp </tui-input>
  </div>
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="location">
      Phòng học
    </tui-input>
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="start">
        Bắt đầu
      </tui-input-date-time>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="end">
        Kết thúc
      </tui-input-date-time>
    </div>
  </div>
  <div *ngIf="form.controls['people'].value !== 'self'" class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="people">
      Giảng viên
    </tui-input>
  </div>

  <tui-expand [expanded]="requestingChangeSchedule" formGroupName="request">
    <h3 class="tui-form__header">Yêu cầu thay đổi lịch giảng</h3>
    <div [tuiTextfieldCleaner]="true" class="tui-form__row">
      <tui-input-date
        [min]="firstDateAllowRequestChange | tuiDay"
        formControlName="date"
        tuiUnfinishedValidator="Ngày không hợp lệ!"
      >
        Chọn ngày học
      </tui-input-date>
      <tui-field-error formControlName="date"></tui-field-error>
    </div>
    <div class="tui-form__row">
      <tui-select [valueContent]="shiftSelectContent" formControlName="shift">
        Chọn ca học:
        <tui-data-list *tuiDataList>
          <tui-opt-group>
            <button
              tuiOption
              *ngFor="let shiftKey of shiftKeys"
              [value]="shiftKey"
            >
              {{ shiftKey | shift }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </tui-select>
    </div>
    <div
      *ngIf="form.controls['location'].value !== 'PHTT'"
      class="tui-form__row"
    >
      <tui-select formControlName="room">
        Chọn phòng:
        <ng-template tuiDataList>
          <tui-data-list>
            <button tuiOption value="PHTT">Phòng học trực tuyến</button>
            <button tuiOption value="Học trực tiếp">
              Học trục tiếp
            </button>
          </tui-data-list>
        </ng-template>
      </tui-select>
      <tui-field-error formControlName="room"></tui-field-error>
    </div>
  </tui-expand>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <ng-container *ngIf="requestingChangeSchedule; else notEditing">
      <button
        [showLoader]="sending"
        [disabled]="form.invalid"
        (click)="onSubmit()"
        tuiButton
        size="m"
        class="tui-form__button"
      >
        Gửi yêu cầu
      </button>
      <button
        tuiButton
        (click)="onClickCancelRequestingChangeSchedule()"
        appearance="outline"
        class="tui-form__button"
      >
        Hủy
      </button>
    </ng-container>
    <ng-template #notEditing>
      <button
        tuiButton
        *ngIf="validRequestChangeSchedule"
        (click)="onClickRequestingChangeSchedule()"
        class="tui-form__button"
      >
        Yêu cầu thay đổi giờ giảng
      </button>
      <button
        tuiButton
        (click)="onCancel()"
        appearance="outline"
        class="tui-form__button"
      >
        Đóng
      </button>
    </ng-template>
  </div>
</form>

<ng-template #shiftSelectContent let-shiftKey>
  {{ shiftKey | shift }}
</ng-template>
