<form [formGroup]="form">
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="subject"> Lớp </tui-input>
  </div>
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="location">
      Phòng học
    </tui-input>
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="start">
        Bắt đầu
      </tui-input-date-time>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="end">
        Kết thúc
      </tui-input-date-time>
    </div>
  </div>
  <div *ngIf="form.controls['people'].value !== 'self'" class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="people">
      Giảng viên
    </tui-input>
  </div>

  <tui-expand [expanded]="!requestingChangeSchedule" formGroupName="change">
    <div></div>
    <div class="tui-form__row">
      <tui-text-area
        formControlName="note"
        [tuiTextfieldMaxLength]="noteMaxLength"
      >
        Ghi chú
      </tui-text-area>
      <tui-field-error formControlName="note"></tui-field-error>
    </div>
  </tui-expand>

  <tui-hosted-dropdown
    tuiDropdownHover
    *ngIf="data.From"
    [content]="fixedScheduleContent"
    class="d-flex align-items-center cursor-default"
  >
    <tui-svg src="tuiIconAlertCircleLarge"></tui-svg>
    Ca học này đã được chuyển từ ngày khác tới
  </tui-hosted-dropdown>

  <tui-expand [expanded]="requestingChangeSchedule" formGroupName="request">
    <h3 class="tui-form__header">Yêu cầu thay đổi lịch giảng</h3>
    <div [tuiTextfieldCleaner]="true" class="tui-form__row">
      <tui-input-date
        [min]="firstDateAllowRequestChange | tuiDay"
        formControlName="date"
      >
        Chọn ngày học
      </tui-input-date>
      <tui-field-error formControlName="date"></tui-field-error>
    </div>
    <div class="tui-form__row">
      <tui-select [valueContent]="shiftSelectContent" formControlName="shift">
        Chọn ca học:
        <tui-data-list *tuiDataList>
          <tui-opt-group>
            <button
              tuiOption
              *ngFor="let shiftKey of shiftKeys"
              [value]="shiftKey"
            >
              {{ shiftKey | shift }}
            </button>
          </tui-opt-group>
        </tui-data-list>
      </tui-select>
    </div>
    <div class="tui-form__row">
      <tui-select [valueContent]="studyTypeContent" formControlName="online">
        Chọn hình thức học:
        <ng-template tuiDataList>
          <tui-data-list>
            <button tuiOption [value]="true">Phòng học trực tuyến</button>
            <button tuiOption [value]="false">Học trục tiếp</button>
          </tui-data-list>
        </ng-template>
      </tui-select>
    </div>
    <div class="tui-form__row">
      <tui-text-area
        formControlName="reason"
        [tuiTextfieldMaxLength]="reasonMaxLength"
      >
        Lý do
      </tui-text-area>
      <tui-field-error formControlName="reason"></tui-field-error>
    </div>
  </tui-expand>

  <div class="btn-group d-flex justify-content-between">
    <div
      *ngIf="validRequestChangeSchedule"
      class="tui-form__buttons tui-form__buttons_align_start"
    >
      <tui-hosted-dropdown
        tuiDropdownHover
        *ngIf="data.To || justRequestedSchedule; else send"
        [content]="fixedScheduleContent"
        class="d-flex align-items-center cursor-default"
      >
        <tui-svg src="tuiIconAlertCircleLarge"></tui-svg>
        Ca học này đã được yêu cầu thay đổi
      </tui-hosted-dropdown>
      <ng-template #send>
        <button
          *ngIf="requestingChangeSchedule; else request"
          [showLoader]="sendingRequest"
          [disabled]="form.controls['request'].invalid"
          (click)="onSubmit()"
          tuiButton
          size="m"
          class="tui-form__button"
        >
          Gửi yêu cầu
        </button>
      </ng-template>
      <ng-template #request>
        <button
          tuiButton
          *ngIf="validRequestChangeSchedule"
          (click)="toggleRequestArea(true)"
          appearance="secondary"
          class="tui-form__button"
        >
          Yêu cầu thay đổi giờ giảng
        </button>
      </ng-template>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <ng-container *ngIf="requestingChangeSchedule; else notEditing">
        <button
          tuiButton
          (click)="toggleRequestArea(false)"
          appearance="outline"
          class="tui-form__button"
        >
          Hủy
        </button>
      </ng-container>
      <ng-template #notEditing>
        <button
          tuiButton
          (click)="onUpdate()"
          [showLoader]="sendingChange"
          [disabled]="form.controls['change'].invalid"
          class="tui-form__button"
        >
          Lưu
        </button>
        <button
          tuiButton
          (click)="onCancel()"
          appearance="outline"
          class="tui-form__button"
        >
          Đóng
        </button>
      </ng-template>
    </div>
  </div>
</form>

<ng-template #shiftSelectContent let-shiftKey>
  {{ shiftKey | shift }}
</ng-template>

<ng-template #studyTypeContent let-online>
  {{ online ? "Phòng học trực tuyến" : "Học trực tiếp" }}
</ng-template>

<ng-template #fixedScheduleContent>
  <div *tssVar="data.To || justRequestedSchedule as fixedSchedule" class="fixed-schedule">
    <table>
      <tbody>
        <tr>
          <td>Ngày</td>
          <td>:</td>
          <td>{{ fixedSchedule.newDate | date: "dd-MM-Y" }}</td>
        </tr>
        <tr>
          <td>Thời gian</td>
          <td>:</td>
          <td>{{ fixedSchedule.newShift | shift }}</td>
        </tr>
        <tr *ngIf="fixedSchedule.newIdRoom">
          <td>Phòng</td>
          <td>:</td>
          <td>{{ fixedSchedule.newIdRoom }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
