<form [formGroup]="form">
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="subject"> Lớp </tui-input>
  </div>
  <div class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="location">
      Phòng học
    </tui-input>
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="start">
        Bắt đầu
      </tui-input-date-time>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date-time [readOnly]="true" formControlName="end">
        Kết thúc
      </tui-input-date-time>
    </div>
  </div>
  <div *ngIf="people && people.value !== 'self'" class="tui-form__row">
    <tui-input [readOnly]="true" formControlName="people">
      Giảng viên
    </tui-input>
  </div>

  <div [class.tui-form__row]="requestingChangeSchedule">
    <tui-expand [expanded]="requestingChangeSchedule">
      <tui-input-date formControlName="date"> Ngày học </tui-input-date>
      <div class="tui-form__row">
        <tui-select [valueContent]="shiftSelectContent" formControlName="shift">
          Chọn ca học:
          <tui-data-list *tuiDataList>
            <tui-opt-group>
              <button
                tuiOption
                *ngFor="let shiftKey of shiftKeys"
                [value]="shiftKey"
              >
                {{ shiftKey | shift }}
              </button>
            </tui-opt-group>
          </tui-data-list>
        </tui-select>
      </div>
    </tui-expand>
  </div>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <ng-container *ngIf="requestingChangeSchedule; else notEditing">
      <button
        [showLoader]="sending"
        [disabled]="
          initialNote === note?.value || (!note && !initialNote) || form.invalid
        "
        (click)="onSubmit()"
        tuiButton
        size="m"
        class="tui-form__button"
      >
        Gửi yêu cầu
      </button>
      <button
        tuiButton
        (click)="onClickCancelRequestingChangeSchedule()"
        appearance="outline"
        class="tui-form__button"
      >
        Hủy
      </button>
    </ng-container>
    <ng-template #notEditing>
      <button
        tuiButton
        [hidden]="!validRequestChangeSchedule"
        (click)="onClickRequestingChangeSchedule()"
        class="tui-form__button"
      >
        Yêu cầu thay đổi giờ giảng
      </button>
      <button
        tuiButton
        (click)="onCancel()"
        appearance="outline"
        class="tui-form__button"
      >
        Đóng
      </button>
    </ng-template>
  </div>
</form>

<ng-template #shiftSelectContent let-shiftKey>
  {{ shiftKey | shift }}
</ng-template>
