@import "src/styles/variables";

:host {
  @include h(full);

  tui-scrollbar {
    @include square();
    @include border(1, right, $tuiBase03);

    a {
      transition: background-color 300ms ease-in-out;
      font: var(--tui-font-text-m);

      &.active {
        color: $tuiBase09;
      }
    }

    tui-accordion-item {
      ::ng-deep {
        .header {
          padding-left: 0.75rem !important;
          padding-right: 1rem !important;
        }
      }

      .sub-item {
        @include mt(-4);
        @include mb(-2);

        > div {
          @include pl(3);
          @include border(2, left, $tuiBase03);

          a {
            @include pt(2);
            @include leading(6);
            width: fit-content;

            ::ng-deep {
              .link-icon-wrapper {
                width: 24px;
                height: 24px;
              }
              span {
                transition-duration: var(--tui-duration, 0.3s);
              }
            }
          }
        }
      }
    }

    .link {
      @include pl(3);
      @include pr(3);
      @include py(2.5);
      @include bg(white);
      color: $tuiText01;

      &:hover {
        @include bg($tuiBase02);
      }
    }

    .icon-wrapper {
      @include w(7);
      @include mr(1.5);
    }
  }
}
