<div
  *ngrxLet="requestingChangeSchedule$ as requestingChangeSchedule"
  class="tui-form__buttons tui-form__buttons_align_end"
>
  <ng-container *ngrxLet="requestStatus$ as requestStatus">
    <ng-container *ngrxLet="changeStatus$ as changeStatus">
      <button
        tuiButton
        *ngIf="requestingChangeSchedule; else notEditing"
        (click)="fold()"
        [disabled]="
          requestStatus === EApiStatus.loading ||
          changeStatus === EApiStatus.loading
        "
        appearance="outline"
        class="tui-form__button"
      >
        Hủy
      </button>
    </ng-container>
  </ng-container>
  <ng-template #notEditing>
    <ng-container *ngrxLet="updateStatus$ as updateStatus">
      <button
        #saveButton
        tuiButton
        (click)="onUpdate()"
        [showLoader]="updateStatus === EApiStatus.loading"
        [disabled]="form.controls['change'].invalid"
        class="tui-form__button"
      >
        Lưu
      </button>
    </ng-container>
    <button
      tuiButton
      (click)="cancel.emit()"
      appearance="outline"
      class="tui-form__button"
    >
      Đóng
    </button>
  </ng-template>
</div>
