<tui-checkbox-labeled [(ngModel)]="showTimeInsteadOfShift">
  Hiển thị thời gian thay cho ca
</tui-checkbox-labeled>
<tui-checkbox-labeled [(ngModel)]="showTime">
  Hiển thị giờ
</tui-checkbox-labeled>

<tui-loader
  *ngrxLet="status$ as status"
  [showLoader]="status === EApiStatus.loading"
  [overlay]="true"
>
  <tui-scrollbar class="w-full">
    <table tuiTable class="min-w-full" [columns]="columns">
      <!-- Head -->
      <thead tuiThead>
        <tr tuiThGroup>
          <th tuiTh *tuiHead="'index'" [sorter]="null" rowspan="2">STT</th>
          <th tuiTh *tuiHead="'teacher'" [sorter]="null" rowspan="2">
            Giảng viên
          </th>
          <th tuiTh *tuiHead="'oldDate'" [sorter]="null" colspan="2">Ngày</th>
          <ng-container *tuiHead="'newDate'"></ng-container>
          <th tuiTh *tuiHead="'oldShift'" [sorter]="null" colspan="2">
            {{ showTimeInsteadOfShift ? "Thời gian" : "Ca" }}
          </th>
          <ng-container *tuiHead="'newShift'"></ng-container>
          <th tuiTh *tuiHead="'oldRoom'" [sorter]="null" colspan="2">Phòng</th>
          <ng-container *tuiHead="'newRoom'"></ng-container>
          <th tuiTh *tuiHead="'timeRequest'" [sorter]="null" rowspan="2">
            Yêu cầu
          </th>
          <th tuiTh *tuiHead="'timeAccept'" [sorter]="null" rowspan="2">
            Phê duyệt
          </th>
          <th tuiTh *tuiHead="'timeSetRoom'" [sorter]="null" rowspan="2">
            Xếp phòng
          </th>
          <th tuiTh *tuiHead="'status'" [sorter]="null" rowspan="2">
            Trạng thái
          </th>
        </tr>
        <tr tuiThGroup>
          <th tuiTh *tuiHead="'oldDate'" [sorter]="null" class="border">Cũ</th>
          <th tuiTh *tuiHead="'newDate'" [sorter]="null">Mới</th>
          <th tuiTh *tuiHead="'oldShift'" [sorter]="null">Cũ</th>
          <th tuiTh *tuiHead="'newShift'" [sorter]="null">Mới</th>
          <th tuiTh *tuiHead="'oldRoom'" [sorter]="null">Cũ</th>
          <th tuiTh *tuiHead="'newRoom'" [sorter]="null">Mới</th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody tuiTbody *ngrxLet="data$ as data" [data]="data">
        <tr *tuiRow="let item of data; index as i" tuiTr>
          <td *tuiCell="'index'" tuiTd>
            <div class="text-center">
              {{ i + 1 }}
            </div>
          </td>
          <td *tuiCell="'teacher'" tuiTd>{{ item.teacher }}</td>
          <td *tuiCell="'oldDate'" tuiTd>
            <div class="text-center">
              {{ item.oldSchedule.date }}
            </div>
          </td>
          <td *tuiCell="'oldShift'" tuiTd>
            <div class="text-center">
              {{
                showTimeInsteadOfShift
                  ? (item.oldSchedule.shift | shift)
                  : item.oldSchedule.shift
              }}
            </div>
          </td>
          <td *tuiCell="'oldRoom'" tuiTd>
            <div class="text-center">
              {{ item.oldSchedule.room }}
            </div>
          </td>
          <td *tuiCell="'newDate'" tuiTd>
            <div class="text-center">
              {{ item.newSchedule.date }}
            </div>
          </td>
          <td *tuiCell="'newShift'" tuiTd>
            <div class="text-center">
              {{
                showTimeInsteadOfShift
                  ? (item.newSchedule.shift | shift)
                  : item.newSchedule.shift
              }}
            </div>
          </td>
          <td *tuiCell="'newRoom'" tuiTd>
            <div class="text-center">
              {{ item.newSchedule.room }}
            </div>
          </td>
          <td *tuiCell="'timeRequest'" tuiTd>
            <div class="text-center">
              {{
                showTime
                  ? (item.timeRequest | date: "dd-MM-Y, HH:mm")
                  : (item.timeRequest | date: "dd-MM-Y")
              }}
            </div>
          </td>
          <td *tuiCell="'timeAccept'" tuiTd>
            <div class="text-center">
              {{
                showTime
                  ? (item.timeAccept | date: "dd-MM-Y, HH:mm")
                  : (item.timeAccept | date: "dd-MM-Y")
              }}
            </div>
          </td>
          <td *tuiCell="'timeSetRoom'" tuiTd>
            <div class="text-center">
              {{
                showTime
                  ? (item.timeSetRoom | date: "dd-MM-Y, HH:mm")
                  : (item.timeSetRoom | date: "dd-MM-Y")
              }}
            </div>
          </td>
          <td *tuiCell="'status'" tuiTd>
            <div class="text-center" *ngIf="item.status; else actions">
              {{ statusList[item.status] }}
            </div>
            <ng-template #actions>
              <div class="d-flex justify-content-center">
                <button
                  tuiIconButton
                  [tuiHintShowDelay]="300"
                  [tuiHintHideDelay]="100"
                  icon="tuiIconCheck"
                  appearance="positive"
                  tuiHint="Chấp nhận"
                ></button>
                <button
                  tuiIconButton
                  [tuiHintShowDelay]="300"
                  [tuiHintHideDelay]="100"
                  icon="tuiIconClose"
                  appearance="negative"
                  tuiHint="Từ chối"
                ></button>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </tui-scrollbar>
</tui-loader>
