<tui-loader
  *ngrxLet="status$ as status"
  [showLoader]="status.data === EApiStatus.loading"
  [overlay]="true"
>
  <form [formGroup]="form">
    <div>
      <table
        tuiTable
        *tssVar="isPersonal ? 43 : teacherColumnWidth as moduleClassStyleLeft"
        [columns]="columns"
        size="m"
        class="min-w-full"
      >
        <!-- Head -->
        <thead tuiThead>
          <tr tuiThGroup>
            <th
              tuiTh
              *tuiHead="'checkbox'"
              [sorter]="null"
              rowspan="2"
              class="sticky-column checkbox-column"
            >
              <tui-checkbox
                [(ngModel)]="checkAll"
                (ngModelChange)="onCheckAllChange()"
                [ngModelOptions]="{ standalone: true }"
              ></tui-checkbox>
            </th>
            <th
              tuiTh
              *tuiHead="'index'"
              [sorter]="null"
              rowspan="2"
              [class.border-right-none]="!isPersonal"
            >
              STT
            </th>
            <th
              tuiTh
              *tuiHead="'teacher'"
              [sorter]="null"
              rowspan="2"
              class="sticky-column teacher-column"
              #teacherCol
            >
              Giảng viên
            </th>
            <th
              tuiTh
              *tuiHead="'moduleClass'"
              [sorter]="null"
              [style.left.px]="moduleClassStyleLeft"
              rowspan="2"
              class="sticky-column"
            >
              Lớp
            </th>
            <th tuiTh *tuiHead="'oldDate'" [sorter]="null" colspan="2">
              Ngày học
            </th>
            <ng-container *tuiHead="'newDate'"></ng-container>
            <th tuiTh *tuiHead="'reason'" [sorter]="null" rowspan="2">Lý do</th>
            <th tuiTh *tuiHead="'createdAt'" [sorter]="null" rowspan="2">
              <div class="no-wrap">Thời gian tạo yêu cầu</div>
            </th>
            <th tuiTh *tuiHead="'status'" [sorter]="null" rowspan="2">
              <div class="no-wrap">Trạng thái</div>
            </th>
            <th tuiTh *tuiHead="'actions'" [sorter]="null" rowspan="2">
              <div class="no-wrap">Thao tác</div>
            </th>
          </tr>
          <tr tuiThGroup>
            <th tuiTh *tuiHead="'oldDate'" [sorter]="null" class="border">
              Cũ
            </th>
            <th tuiTh *tuiHead="'newDate'" [sorter]="null">Mới</th>
          </tr>
        </thead>

        <!-- Body -->
        <tbody
          tuiTbody
          *ngrxLet="changeSchedules$ as changeSchedules"
          [data]="changeSchedules"
        >
          <tr *tuiRow="let item of changeSchedules; index as i" tuiTr>
            <td
              tuiTd
              *tuiCell="'checkbox'"
              formArrayName="checkbox"
              class="sticky-column checkbox-column"
            >
              <div class="text-center">
                <tui-checkbox
                  *ngIf="checkableIndexes | arrayIncludes: i"
                  (ngModelChange)="onCheckChange($event)"
                  [formControlName]="i"
                ></tui-checkbox>
              </div>
            </td>
            <td
              tuiTd
              *tuiCell="'index'"
              [class.border-right-none]="!isPersonal"
            >
              <div *ngrxLet="page$ as page" class="text-center">
                {{ itemsPerPage * (page - 1) + i + 1 }}
              </div>
            </td>
            <td tuiTd *tuiCell="'teacher'" class="sticky-column teacher-column">
              {{ item.teacher.name }}
            </td>
            <td
              tuiTd
              *tuiCell="'moduleClass'"
              [style.left.px]="moduleClassStyleLeft"
              class="sticky-column"
            >
              {{ item.moduleClassName }}
            </td>
            <td tuiTd *tuiCell="'oldDate'">
              <div class="text-center">
                {{ item.oldSchedule.date | date: "dd-MM-Y" }}
              </div>
            </td>
            <td
              tuiTd
              *tuiCell="'newDate'"
              [class.intend-time]="item.intendTime"
            >
              <div class="text-center">
                {{
                  item.intendTime || (item.newSchedule.date | date: "dd-MM-Y")
                }}
              </div>
            </td>
            <td tuiTd *tuiCell="'reason'">
              <div class="reason">
                {{ item.reason }}
              </div>
            </td>
            <td tuiTd *tuiCell="'createdAt'">
              <div *ngrxLet="options$ as options" class="text-center">
                {{
                  options.showTime
                    ? (item.createdAt | date: "dd-MM-Y, HH:mm")
                    : (item.createdAt | date: "dd-MM-Y")
                }}
              </div>
            </td>
            <td tuiTd *tuiCell="'status'" class="status">
              <ng-container *ngrxLet="permissions$ as permissions">
                <ng-container
                  *ngIf="
                    permissions.includes(
                      PermissionConstant.REQUEST_CHANGE_TEACHING_SCHEDULE
                    );
                    else roomManager
                  "
                >
                  <tss-request-list-status
                    [item]="item"
                    [displayText]="
                      isPersonal || (item.status !== 200 && item.status !== 201)
                    "
                  ></tss-request-list-status>
                </ng-container>
                <ng-template #roomManager>
                  <tss-request-list-status
                    [item]="item"
                    [displayText]="item.status !== 202"
                  ></tss-request-list-status>
                </ng-template>
              </ng-container>
            </td>
            <td tuiTd *tuiCell="'actions'">
              <tss-request-list-action
                [schedule]="item"
                [canCancel]="isPersonal"
              ></tss-request-list-action>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</tui-loader>
