<tui-loader
  *ngrxLet="status$ as status"
  [showLoader]="status.data === EApiStatus.loading"
  [overlay]="true"
>
  <table
    tuiTable
    *ngrxLet="options$ as options"
    [columns]="columns"
    size="m"
    class="min-w-full"
  >
    <!-- Head -->
    <thead tuiThead>
      <tr tuiThGroup>
        <th tuiTh *tuiHead="'index'" [sorter]="null" rowspan="2">STT</th>
        <th tuiTh *tuiHead="'teacher'" [sorter]="null" rowspan="2">
          Giảng viên
        </th>
        <th tuiTh *tuiHead="'moduleClass'" [sorter]="null" rowspan="2">Lớp</th>
        <th tuiTh *tuiHead="'oldDate'" [sorter]="null" colspan="2">Ngày học</th>
        <ng-container *tuiHead="'newDate'"></ng-container>
        <th tuiTh *tuiHead="'reason'" [sorter]="null" rowspan="2">Lý do</th>
        <th tuiTh *tuiHead="'createdAt'" [sorter]="null" rowspan="2">
          <div class="no-wrap">Thời gian tạo yêu cầu</div>
        </th>
        <th tuiTh *tuiHead="'status'" [sorter]="null" rowspan="2">
          <div class="no-wrap">Trạng thái</div>
        </th>
        <th tuiTh *tuiHead="'actions'" [sorter]="null" rowspan="2">
          <div class="no-wrap">Thao tác</div>
        </th>
      </tr>
      <tr tuiThGroup>
        <th tuiTh *tuiHead="'oldDate'" [sorter]="null" class="border">Cũ</th>
        <th tuiTh *tuiHead="'newDate'" [sorter]="null">Mới</th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody tuiTbody *ngrxLet="data$ as data" [data]="data.changeSchedules">
      <tr *tuiRow="let item of data.changeSchedules; index as i" tuiTr>
        <td tuiTd *tuiCell="'index'">
          <div *ngrxLet="page$ as page" class="text-center">
            {{ itemsPerPage * (page - 1) + i + 1 }}
          </div>
        </td>
        <td tuiTd *tuiCell="'teacher'">{{ item.teacher.name }}</td>
        <td tuiTd *tuiCell="'moduleClass'">{{ item.moduleClassName }}</td>
        <td tuiTd *tuiCell="'oldDate'">
          <div class="text-center">
            {{ item.oldSchedule.date | date: "dd-MM-Y" }}
          </div>
        </td>
        <td tuiTd *tuiCell="'newDate'" [class.intend-time]="item.intendTime">
          <div class="text-center">
            {{ item.intendTime || (item.newSchedule.date | date: "dd-MM-Y") }}
          </div>
        </td>
        <td tuiTd *tuiCell="'reason'">
          <div class="reason">
            {{ item.reason }}
          </div>
        </td>
        <td tuiTd *tuiCell="'createdAt'">
          <div class="text-center">
            {{
              options.showTime
                ? (item.createdAt | date: "dd-MM-Y, HH:mm")
                : (item.createdAt | date: "dd-MM-Y")
            }}
          </div>
        </td>
        <td tuiTd *tuiCell="'status'" class="status">
          <ng-container *ngrxLet="permissions$ as permissions">
            <ng-container
              *ngIf="
                permissions.includes(
                  PermissionConstant.REQUEST_CHANGE_TEACHING_SCHEDULE
                );
                else roomManager
              "
            >
              <tss-request-list-status
                [item]="item"
                [displayText]="
                  personal || (item.status !== 200 && item.status !== 201)
                "
              ></tss-request-list-status>
            </ng-container>
            <ng-template #roomManager>
              <tss-request-list-status
                [item]="item"
                [displayText]="item.status !== 202"
              ></tss-request-list-status>
            </ng-template>
          </ng-container>
        </td>
        <td tuiTd *tuiCell="'actions'">
          <tss-request-list-action
            [schedule]="item"
            [canCancel]="personal"
          ></tss-request-list-action>
        </td>
      </tr>
    </tbody>
  </table>
</tui-loader>
