tr {
  &:nth-child(2) {
    top: 2.75rem;
    th {
      top: 2.75rem;
    }
  }
  th {
    text-align: center;
    &.border {
      border-left: none;
    }
  }
  td {
    &.intend-time {
      background-color: var(--tui-warning-bg-hover);
    }
    .reason {
      width: 250px;
      white-space: normal;
    }
    ::ng-deep .wrapper {
      white-space: nowrap;
    }
  }
}
