tr {
  &:nth-child(2) {
    top: 2.75rem;
    th {
      top: 2.75rem;
    }
  }
  th {
    text-align: center;
    &.border {
      border-left: none;
    }

    tui-toggle {
      margin-left: 0.5rem;
    }
  }
}

td {
  &.status {
    font-weight: 600;
    .deny {
      color: var(--tui-negative);
    }
    .no-response {
      color: var(--tui-neutral-fill);
    }
    .accept {
      color: var(--tui-link);
    }
    .complete {
      color: var(--tui-positive);
    }
  }
  button {
    margin: 0 0.25rem;
  }
  .reason {
    width: 250px;
    white-space: normal;
  }
  ::ng-deep .wrapper {
    white-space: nowrap;
  }
}
