table {
  .status {
    font-weight: 600;
    .deny {
      color: var(--tui-negative);
    }
    .pending {
      color: var(--tui-neutral-fill);
    }
    .accept {
      color: var(--tui-link);
    }
    .complete {
      color: var(--tui-positive);
    }
    .change {
      color: var(--tui-neutral-fill);
    }
  }

  td {
    padding: 0.25rem 0;
    &:nth-child(2) {
      padding-left: 0.25rem;
      padding-right: 0.5rem;
    }
  }
}
