<section class="wrapper">
  <div class="container">
    <div class="scene" data-hover-only="false">
      <div class="circle" data-depth="1.2"></div>

      <div class="one" data-depth="0.9">
        <div class="content">
          <span class="piece"></span>
          <span class="piece"></span>
          <span class="piece"></span>
        </div>
      </div>

      <div class="two" data-depth="0.60">
        <div class="content">
          <span class="piece"></span>
          <span class="piece"></span>
          <span class="piece"></span>
        </div>
      </div>

      <div class="three" data-depth="0.40">
        <div class="content">
          <span class="piece"></span>
          <span class="piece"></span>
          <span class="piece"></span>
        </div>
      </div>

      <p class="p404">{{ code }}</p>
    </div>

    <div class="text">
      <article>
        <p>{{ message }}</p>
        <button [routerLink]="['/']">Trở lại trang chủ</button>
      </article>
    </div>
  </div>
</section>
