<tui-scrollbar>
  <ng-container *ngFor="let item of items">
    <tui-accordion
      *ngIf="item.subItems, else link"
      [closeOthers]="false"
      [rounded]="false"
      tuiMode="onLight"
    >
      <tui-accordion-item
        [borders]="null"
        [showArrow]="!!item.subItems"
        size="s"
      >
        <span class="icon-wrapper">
          <div>
            <i [class]="item.icon"></i>
          </div>
        </span>
        <strong>{{ item.name }}</strong>
        <ng-template tuiAccordionItemContent>
          <div class="sub-item">
            <div>
              <a
                *ngFor="let subItem of item.subItems"
                [routerLink]="subItem.routerLink"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                tuiLink
              >
                {{ subItem.name }}
              </a>
            </div>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <ng-template #link>
      <a
        [routerLink]="item.routerLink ?? ''"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="link"
        tuiLink
      >
        <span class="icon-wrapper">
          <div>
            <i [class]="item.icon"></i>
          </div>
        </span>
        <strong>{{ item.name }}</strong>
      </a>
    </ng-template>
  </ng-container>
</tui-scrollbar>
