<ng-container *ngrxLet="user$ as user">
  <tui-scrollbar *ngIf="user; else loader" [@fadeIn]>
    <ng-container *ngFor="let item of items">
      <ng-container *tssPermission="item.permission">
        <tui-accordion
          *ngIf="item.subItems; else link"
          [closeOthers]="false"
          [rounded]="false"
          tuiMode="onLight"
        >
          <tui-accordion-item
            [borders]="null"
            [showArrow]="!!item.subItems"
            size="s"
          >
            <span class="icon-wrapper d-inline-block">
              <div class="d-flex">
                <i [class]="item.icon" class="mx-auto"></i>
              </div>
            </span>
            <strong>{{ item.name }}</strong>
            <ng-template tuiAccordionItemContent>
              <div class="sub-item">
                <div class="tui-space_vertical-2">
                  <a
                    tuiLink
                    *ngFor="let subItem of item.subItems; first as first"
                    [routerLink]="subItem.routerLink"
                    [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [icon]="subItem.useTaigaIcon ? subItem.icon || null : null"
                    iconAlign="left"
                    class="d-block"
                  >
                    <span
                      *ngIf="
                        subItem.useTaigaIcon === null || !subItem.useTaigaIcon
                      "
                      class="d-inline-block"
                    >
                      <div class="link-icon-wrapper d-flex">
                        <i [class]="subItem.icon" class="d-block mx-auto"></i>
                      </div>
                    </span>
                    {{ subItem.name }}
                  </a>
                </div>
              </div>
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>

        <ng-template #link>
          <a
            [routerLink]="item.routerLink ?? ''"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link d-block"
            tuiLink
          >
            <span class="icon-wrapper d-inline-block">
              <div class="d-flex">
                <i [class]="item.icon" class="d-block mx-auto"></i>
              </div>
            </span>
            <strong>{{ item.name }}</strong>
          </a>
        </ng-template>
      </ng-container>
    </ng-container>
  </tui-scrollbar>

  <ng-template #loader>
    <tui-loader [showLoader]="true" class="h-full"></tui-loader>
  </ng-template>
</ng-container>
