@import "src/styles/variables";
@import "src/styles/responsive";

tui-scrollbar {
  @include square();
}

main {
  @include w(full);
  @include px(2);
  @include pt(1.5);
  @include pb(2);
  height: $main-view-height;
  position: relative;
  display: flex;
  flex-direction: column;

  @include responsive(lg) {
    @include px(5);
    @include pt(2.5);
    @include pb(3);
  }

  .wrapper {
    @include z(0);
    position: absolute;
    inset: 0;
    pointer-events: none;

    a {
      @include font(lg);
    }
  }

  tss-breadcrumb {
    display: none;
    @include responsive(sm) {
      display: block;
    }
  }

  .content {
    flex: 1 1 auto;
  }
}

.bread-tag {
  @include font(lg);
}
