<ng-container *ngrxLet="searchStatus$ as searchStatus">
  <ng-container *ngIf="searchStatus !== EApiStatus.loading; else loading">
    <ng-container *ngrxLet="searchSchedule$ as searchSchedule">
      <div *ngIf="sameData; else duplicate" [@fadeIn] class="text-error">
        <tui-svg src="tuiIconAlertCircleLarge"></tui-svg>
        Thông tin ca học chưa thay đổi
      </div>
      <ng-template #error>
        <div
          *ngIf="searchStatus === EApiStatus.systemError; else duplicate"
          [@fadeIn]
          class="text-error"
        >
          <tui-svg src="tuiIconAlertCircleLarge"></tui-svg>
          Lỗi hệ thống: Không thể tìm thấy lịch trùng
        </div>
      </ng-template>
      <ng-template #duplicate>
        <div
          *ngIf="searchSchedule && searchSchedule.length > 0; else notDuplicate"
          class="text-warning"
        >
          <tui-svg src="tuiIconAlertCircleLarge"></tui-svg>
          Ca học này đã bị trùng
          <tui-hosted-dropdown
            tuiDropdownHover
            [content]="duplicateScheduleContent"
            [@fadeIn]
            tuiDropdownAlign="left"
          >
            <button tuiLink [pseudo]="true" class="details">
              <i>Chi tiết</i>
            </button>
          </tui-hosted-dropdown>
        </div>
      </ng-template>
      <ng-template #notDuplicate>
        <div [@fadeIn] class="text-success">
          <tui-svg src="tuiIconCheckCircleLarge"></tui-svg>
          Ca học này không bị trùng
        </div>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <tui-loader [showLoader]="true"></tui-loader>
  </ng-template>
</ng-container>

<ng-template #duplicateScheduleContent>
  <ng-container *ngrxLet="searchSchedule$ as searchSchedule">
    <div class="duplicate">
      <ul class="tui-list tui-list_small">
        <li *ngFor="let schedule of searchSchedule" class="tui-list__item">
          {{ schedule.name }} ({{ schedule.idModuleClass }})
        </li>
      </ul>
    </div>
  </ng-container>
</ng-template>
