:host {
  @apply grid h-screen w-screen;
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-columns: 260px auto;
  grid-template-areas: 
    "nav   nav"
    "aside main";
}

tss-sidebar {
  grid-area: aside;
}

tss-navbar {
  background-color: brown;
  grid-area: nav;
}

tss-main-view {
  background-color: goldenrod;
  grid-area: main;
}
