@import "src/styles/variables";

:host {
  height: 100%;
  max-height: $content-height;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "filter filter"
    "left   right";
  gap: 0.75rem;

  tss-assign-schedule-filter {
    grid-area: filter;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .left,
  .right {
    h4 {
      margin-bottom: 0.5rem;
    }
  }
}
