<form [formGroup]="form">
  <div class="tui-form__row">
    <tui-input
      [readOnly]="true"
      [tuiHintContent]="notAllowFieldHint"
      formControlName="subject"
    >
      Tiêu đề
    </tui-input>
  </div>
  <div class="tui-form__row">
    <tui-input
      [readOnly]="true"
      [tuiHintContent]="notAllowFieldHint"
      formControlName="location"
    >
      Phòng thi
    </tui-input>
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date-time
        [readOnly]="true"
        [tuiHintContent]="notAllowFieldHint"
        formControlName="start"
      >
        Bắt đầu
      </tui-input-date-time>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date-time
        [readOnly]="true"
        [tuiHintContent]="notAllowFieldHint"
        formControlName="end"
      >
        Kết thúc
      </tui-input-date-time>
    </div>
  </div>
  <!-- <div class="tui-form__row tui-form__row_multi-fields">
    <tui-checkbox-labeled  formControlName="allDay">
      Cả ngày
    </tui-checkbox-labeled>
  </div> -->

  <!--

        <div class="e-control e-recurrenceeditor e-lib cell-dimension">
          <div class="e-editor">
            <div class="e-input-wrapper e-form-left">
              <div
                class="
                  e-float-input
                  e-control-wrapper
                  e-input-group
                  e-ddl
                  e-lib
                  e-keyboard
                  e-valid-input
                "
                tabindex="0"
                aria-disabled="false"
                aria-owns="ej2_dropdownlist_6_options"
                role="listbox"
                aria-haspopup="true"
                aria-expanded="false"
                aria-activedescendant="null"
                aria-labelledby="ej2_dropdownlist_6_hidden"
                label="repeat-element"
                aria-describedby="ej2_dropdownlist_6"
                style="width: 100%"
              >
                <select
                  aria-hidden="true"
                  tabindex="-1"
                  class="e-ddl-hidden"
                  name="null"
                  id="ej2_dropdownlist_6_hidden"
                >
                  <option selected="" value="none">
                    Không bao giờ
                  </option></select
                ><input
                  type="text"
                  class="e-repeat-element e-control e-dropdownlist e-lib"
                  label="repeat-element"
                  role="textbox"
                  readonly=""
                  id="ej2_dropdownlist_6"
                  style=""
                  title="Lặp lại"
                  aria-disabled="false"
                  aria-label="Không bao giờ"
                  tabindex="-1"
                  value="Không bao giờ"
                /><span class="e-float-line"></span
                ><label class="e-float-text e-label-top">Lặp lại</label
                ><span
                  class="e-input-group-icon e-ddl-icon e-search-icon"
                ></span>
              </div>
            </div>
            <div
              class="
                e-input-wrapper
                e-interval
                e-form-right
                e-hide-recurrence-element
              "
            >
              <table class="e-recurrence-table e-repeat-content-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <div
                        class="
                          e-control-wrapper
                          e-numeric
                          e-float-input
                          e-input-group
                          e-valid-input
                        "
                      >
                        <input
                          type="text"
                          tabindex="0"
                          class="
                            e-repeat-interval e-control e-numerictextbox e-lib
                          "
                          title="Lặp lại mỗi"
                          role="spinbutton"
                          autocomplete="off"
                          aria-live="assertive"
                          aria-valuemin="1"
                          aria-valuemax="999"
                          aria-valuenow="1"
                          value="1"
                        /><input
                          type="text"
                          validatehidden="true"
                          class="e-numeric-hidden"
                          name=""
                          value="1"
                        /><span class="e-float-line"></span
                        ><label class="e-float-text e-label-top"
                          >Lặp lại mỗi</label
                        ><span
                          class="e-input-group-icon e-spin-down"
                          title="Giá trị giảm"
                          aria-label="Giá trị giảm"
                        ></span
                        ><span
                          class="e-input-group-icon e-spin-up"
                          title="Giá trị gia tăng"
                          aria-label="Giá trị gia tăng"
                        ></span>
                      </div>
                    </td>
                    <td><span class="e-repeat-content"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="
                e-input-wrapper-side
                e-days
                e-form-left
                e-hide-recurrence-element
              "
            >
              <div class="e-week-expander-label">Lặp lại trên</div>
              <button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="0"
                title="Thứ Hai"
              >
                T2</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control e-active e-primary"
                data-index="1"
                title="Thứ Ba"
              >
                T3</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="2"
                title="Thứ Tư"
              >
                T4</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="3"
                title="Thứ Năm"
              >
                T5</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="4"
                title="Thứ Sáu"
              >
                T6</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="5"
                title="Thứ Bảy"
              >
                T7</button
              ><button
                type="button"
                class="e-round e-lib e-btn e-control"
                data-index="6"
                title="Chủ Nhật"
              >
                CN
              </button>
            </div>
            <div
              class="
                e-input-wrapper-side
                e-non-week
                e-form-left
                e-hide-recurrence-element
              "
            >
              <div class="e-month-expander-label">Lặp lại trên</div>
              <div class="e-year-expander e-hide-recurrence-element">
                <span
                  class="
                    e-input-group
                    e-control-wrapper
                    e-ddl
                    e-lib
                    e-keyboard
                    e-valid-input
                  "
                  tabindex="0"
                  aria-disabled="false"
                  aria-owns="ej2_dropdownlist_10_options"
                  role="listbox"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-activedescendant="null"
                  aria-labelledby="ej2_dropdownlist_10_hidden"
                  aria-describedby="ej2_dropdownlist_10"
                  style="width: 100%"
                  ><select
                    aria-hidden="true"
                    tabindex="-1"
                    class="e-ddl-hidden"
                    name="null"
                    id="ej2_dropdownlist_10_hidden"
                  >
                    <option selected="" value="12">Tháng 12</option></select
                  ><input
                    class="
                      e-year-expander-element
                      e-control
                      e-dropdownlist
                      e-lib
                      e-input
                    "
                    type="text"
                    title="Mở rộng năm"
                    role="textbox"
                    readonly=""
                    id="ej2_dropdownlist_10"
                    style=""
                    aria-disabled="false"
                    aria-label="Tháng 12"
                    tabindex="-1"
                    value="Tháng 8" /><span
                    class="e-input-group-icon e-ddl-icon e-search-icon"
                  ></span
                ></span>
              </div>
              <div class="e-month-expander e-hide-recurrence-element">
                <table class="e-recurrence-table e-month-expand-wrapper">
                  <tbody>
                    <tr>
                      <td>
                        <div
                          class="
                            e-input-wrapper e-month-expander-checkbox-wrapper
                          "
                        >
                          <div class="e-radio-wrapper e-wrapper">
                            <input
                              class="
                                e-month-expander-element
                                e-control
                                e-radio
                                e-lib
                              "
                              title="Mở rộng tháng"
                              type="radio"
                              id="e-radio_12"
                              name="monthType"
                              value="day"
                            /><label for="e-radio_12"
                              ><span class="e-label">ngày</span></label
                            >
                          </div>
                        </div>
                      </td>
                      <td colspan="2">
                        <div class="e-input-wrapper e-monthday-element">
                          <span
                            class="
                              e-control-wrapper
                              e-numeric
                              e-input-group
                              e-valid-input
                            "
                            ><input
                              type="text"
                              tabindex="0"
                              class="
                                e-month-day
                                e-control
                                e-numerictextbox
                                e-lib
                                e-input
                              "
                              title="Lặp lại trên"
                              role="spinbutton"
                              autocomplete="off"
                              aria-live="assertive"
                              aria-valuemin="1"
                              aria-valuemax="31"
                              aria-valuenow="7"
                              value="1" /><input
                              type="text"
                              validatehidden="true"
                              class="e-numeric-hidden"
                              name=""
                              value="1" /><span
                              class="e-input-group-icon e-spin-down"
                              title="Giá trị giảm"
                              aria-label="Giá trị giảm"
                            ></span
                            ><span
                              class="e-input-group-icon e-spin-up"
                              title="Giá trị gia tăng"
                              aria-label="Giá trị gia tăng"
                            ></span
                          ></span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div
                          class="
                            e-input-wrapper e-month-expander-checkbox-wrapper
                          "
                          style="min-width: 30px; margin-bottom: 18px"
                        >
                          <div class="e-radio-wrapper e-wrapper e-month-type">
                            <input
                              class="
                                e-month-expander-wrapper
                                e-control
                                e-radio
                                e-lib
                              "
                              title="Mở rộng tháng"
                              type="radio"
                              id="e-radio_13"
                              name="monthType"
                              value="daypos"
                            /><label for="e-radio_13"
                              ><span class="e-label"
                                >Mở rộng tháng</span
                              ></label
                            >
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="e-input-wrapper e-week-position">
                          <span
                            class="
                              e-input-group
                              e-control-wrapper
                              e-ddl
                              e-lib
                              e-keyboard
                              e-valid-input
                            "
                            tabindex="0"
                            aria-disabled="false"
                            aria-owns="ej2_dropdownlist_8_options"
                            role="listbox"
                            aria-haspopup="true"
                            aria-expanded="false"
                            aria-activedescendant="null"
                            aria-labelledby="ej2_dropdownlist_8_hidden"
                            aria-describedby="ej2_dropdownlist_8"
                            style="width: 100%"
                            ><select
                              aria-hidden="true"
                              tabindex="-1"
                              class="e-ddl-hidden"
                              name="null"
                              id="ej2_dropdownlist_8_hidden"
                            >
                              <option selected="" value="1">
                                Đầu tiên
                              </option></select
                            ><input
                              type="text"
                              class="
                                e-month-pos
                                e-control
                                e-dropdownlist
                                e-lib
                                e-input
                              "
                              title="Vị trí tháng"
                              role="textbox"
                              readonly=""
                              id="ej2_dropdownlist_8"
                              style=""
                              aria-disabled="false"
                              aria-label="Đầu tiên"
                              tabindex="-1"
                              value="Thứ hai" /><span
                              class="
                                e-input-group-icon e-ddl-icon e-search-icon
                              "
                            ></span
                          ></span>
                        </div>
                      </td>
                      <td>
                        <div class="e-input-wrapper" style="min-width: 120px">
                          <span
                            class="
                              e-input-group
                              e-control-wrapper
                              e-ddl
                              e-lib
                              e-keyboard
                              e-valid-input
                            "
                            tabindex="0"
                            aria-disabled="false"
                            aria-owns="ej2_dropdownlist_9_options"
                            role="listbox"
                            aria-haspopup="true"
                            aria-expanded="false"
                            aria-activedescendant="null"
                            aria-labelledby="ej2_dropdownlist_9_hidden"
                            aria-describedby="ej2_dropdownlist_9"
                            style="width: 100%"
                            ><select
                              aria-hidden="true"
                              tabindex="-1"
                              class="e-ddl-hidden"
                              name="null"
                              id="ej2_dropdownlist_9_hidden"
                            >
                              <option selected="" value="TU">
                                Thứ Ba
                              </option></select
                            ><input
                              type="text"
                              class="
                                e-month-week
                                e-control
                                e-dropdownlist
                                e-lib
                                e-input
                              "
                              title="Tháng tuần"
                              role="textbox"
                              readonly=""
                              id="ej2_dropdownlist_9"
                              style=""
                              aria-disabled="false"
                              aria-label="Thứ Ba"
                              tabindex="-1"
                              value="Thứ Ba" /><span
                              class="
                                e-input-group-icon e-ddl-icon e-search-icon
                              "
                            ></span
                          ></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="
                e-input-wrapper-side
                e-end-on
                e-form-right
                e-hide-recurrence-element
              "
            >
              <div class="e-end-on-label">Kết thúc</div>
              <div class="e-input-wrapper e-end-on-left">
                <span
                  class="
                    e-input-group
                    e-control-wrapper
                    e-ddl
                    e-lib
                    e-keyboard
                    e-valid-input
                  "
                  tabindex="0"
                  aria-disabled="false"
                  aria-owns="ej2_dropdownlist_7_options"
                  role="listbox"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-activedescendant="null"
                  aria-labelledby="ej2_dropdownlist_7_hidden"
                  aria-describedby="ej2_dropdownlist_7"
                  style="width: 100%"
                  ><select
                    aria-hidden="true"
                    tabindex="-1"
                    class="e-ddl-hidden"
                    name="null"
                    id="ej2_dropdownlist_7_hidden"
                  >
                    <option selected="" value="never">
                      Không bao giờ
                    </option></select
                  ><input
                    type="text"
                    class="
                      e-end-on-element e-control e-dropdownlist e-lib e-input
                    "
                    title="Kết thúc"
                    role="textbox"
                    readonly=""
                    id="ej2_dropdownlist_7"
                    style=""
                    aria-disabled="false"
                    aria-label="Không bao giờ"
                    tabindex="-1"
                    value="Cho đến khi" /><span
                    class="e-input-group-icon e-ddl-icon e-search-icon"
                  ></span
                ></span>
              </div>
              <div
                class="
                  e-input-wrapper e-end-on-date e-hide-recurrence-element
                "
              >
                <span
                  class="
                    e-input-group
                    e-control-wrapper
                    e-date-wrapper
                    e-valid-input
                  "
                  style="width: 100%"
                  ><input
                    type="text"
                    class="
                      e-until-date
                      e-control
                      e-datepicker
                      e-lib
                      e-input
                      e-keyboard
                    "
                    title="Cho đến khi"
                    id="ej2-datepicker_11"
                    placeholder="Chọn một ngày"
                    aria-placeholder="Chọn một ngày"
                    name="ej2-datepicker_11"
                    aria-live="assertive"
                    aria-atomic="true"
                    aria-haspopup="true"
                    aria-activedescendant="null"
                    aria-owns="ej2-datepicker_11_options"
                    aria-expanded="false"
                    role="combobox"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    aria-disabled="false"
                    tabindex="0"
                    value=""
                    aria-invalid="false" /><span
                    class="e-clear-icon e-clear-icon-hide"
                    aria-label="close"
                    role="button"
                  ></span
                  ><span
                    class="e-input-group-icon e-date-icon e-icons"
                    aria-label="select"
                  ></span
                ></span>
              </div>
              <div
                class="
                  e-input-wrapper e-end-on-count e-hide-recurrence-element
                "
              >
                <span
                  class="
                    e-control-wrapper e-numeric e-input-group e-valid-input
                  "
                  ><input
                    type="text"
                    tabindex="0"
                    class="
                      e-recurrence-count
                      e-control
                      e-numerictextbox
                      e-lib
                      e-input
                    "
                    title="Đếm"
                    role="spinbutton"
                    autocomplete="off"
                    aria-live="assertive"
                    aria-valuemin="1"
                    aria-valuemax="999"
                    aria-valuenow="10"
                    value="10" /><input
                    type="text"
                    validatehidden="true"
                    class="e-numeric-hidden"
                    name=""
                    value="10" /><span
                    class="e-input-group-icon e-spin-down"
                    title="Giá trị giảm"
                    aria-label="Giá trị giảm"
                  ></span
                  ><span
                    class="e-input-group-icon e-spin-up"
                    title="Giá trị gia tăng"
                    aria-label="Giá trị gia tăng"
                  ></span
                ></span>
              </div>
            </div>
          </div>
        </div>

      -->

  <!-- <div class="tui-form__row">
    <tui-text-area formControlName="description"> Mô tả </tui-text-area>
  </div> -->

  <div class="tui-form__row">
    <tui-text-area formControlName="note"> Ghi chú </tui-text-area>
  </div>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button
      [showLoader]="updating"
      [disabled]="initialNote === note || (!note && !initialNote)"
      (click)="onSubmit()"
      tuiButton
      size="m"
      class="tui-form__button"
    >
      Lưu
    </button>
    <button
      (click)="onCancel()"
      tuiButton
      appearance="outline"
      size="m"
      class="tui-form__button"
    >
      Hủy
    </button>
  </div>
</form>
